body { 
	background-color: #47afb8;
}
.invisible {
	width: 100%;
 	display:none;
}
#images {
	border:1px solid #000000;
	width:500px;
	height:500px;
	display:block;
	margin:auto;
}
canvas {
	width:500px;
	height:500px;
}
nav a, .dropbtn {
    display: inline-block;
	float:center;
    color: white;
    text-align: center;
    padding: 14px 16px;
	text-shadow: 1px 1px black;
    text-decoration: none;
}
nav p {
    display: inline-block;
	float:center;
    color: white;
    text-align: center;
    padding: 14px 16px;
	text-shadow: 1px 1px black;
    text-decoration: none;
}
nav p:hover{
	background-color:white;
	color: #c0c0c0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #7092BE;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a:hover {
	background-color: white;
	color: #c0c0c0;
 }

.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: white;
	color: #c0c0c0;
}
button {
    background-color: #7092BE; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
	size: 100%
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
}